.topic-title{
    .title{
        font-size: 1.2em;
        border-bottom: 1px solid silver;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .description{
        font-size: .8em;
        color: gray;
        margin-top: 0px;
    }
}
.main-description{
    line-height: 1.3em;
    color: gray;
}
.single-row {
    padding: 35px 0px;
}
.full{
    width: 100%;
}
.hobby,
.thinking,
.experience,
.process{
    .title{
        font-size: 1.1em;
    }
    .description{
        color: gray;
        font-size: .9em;
    }
}

#sending-message{
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
    &.open{
        display: block;
    }
    .shade{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .3);
    }
    .message{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        color: black;
    }
}