$input-btn-padding-y        : .5rem;
$input-btn-padding-x        : 2rem;
$input-btn-focus-width      : 0px;
$input-btn-focus-box-shadow : none;
$input-padding-y            : .5rem;
$input-padding-x            : 1rem;
$input-focus-color          : black;
$input-focus-width          : 1px;
$input-focus-box-shadow     :  none;


