---
layout: default
title: About
permalink: /about
---
<h1>Hi, I'm Kousher Alam</h1>
<h2>Currently Working as Web Developer</h2>

<p><strong>Objective: </strong> Make Life easier with my programming skill, & build better world.</p>

<p><strong>Goal: </strong> My Goal is very big and we and to make some thing.</p>

<p><strong>Currently Working On: </strong> I'm Currently Working on SVG.</p>


{% include skills.html %}

{% include languages.html %}

{% include sociallinks.html %}


<ul>
    <li>My Objective</li>
    <li>Don't fear describe your goal</li>
    <li>What i want to do ????</li>
    <li>What i want to learn ???</li>
    <li>Where i want to go ??</li>
    <li>My all skills are + post & project + linked :)</li>
    <li>Education</li>
    <li>Language</li>
    <li>Project</li>
    <li>Product</li>
</ul>