---
layout: default
title: About
permalink: /about
---
<section class="about">
    <h1>Hi, I'm <span class='name-color'>Kousher Alam</span></h1>
    <h2><span class='name-color'>Front End Developer</span></h2>

    <h3>
        <strong>Objective : </strong>
        Innovative, Creative and a proven team player, have 2(+) years of front-end development,
         Building and managing Web application for various company. 
         My goal is to make Accessible Optimize and building web site/apps with cutting edge 
         technology, provide rich and stable user experience.  
    </h3>



    <br/>
    {% include skills.html %}

    {% include languages.html %}

    {% include sociallinks.html %}
</section>