---
layout: default
title: About
permalink: /about
---
<section class="about">
    <h1>Hi, I'm Kousher Alam</h1>
    <h2>Currently Working as Web Developer</h2>

    <p><strong>Objective: </strong> Make Life easier with my programming skill, & build better world.</p>

    <p><strong>Goal: </strong> My Goal is very big and we and to make some thing.</p>

    <p><strong>Currently Working On: </strong> I'm Currently Working on SVG.</p>

    <br/>
    {% include skills.html %}

    {% include languages.html %}

    {% include sociallinks.html %}
</section>