.share-on{
  img{
    width: 40px;
  }
  ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li{
        a{
            color: #e0e0e0;
            padding: 8px 02px;
            display: block;
            &:hover{
                color: white;
            }
        }
    }
    &.inline{
      li{
        float: left;
      }
    }
  }
}
