<div class="container-fluid max-width mt-5 mb-5" id="experience">
    <div class="card">
        <div class="card-header">Experience</div>
        <div class="card-body">
            <div class="list-group">
                    {% for experiecne in site.experiecnes %}
                <a href="{{experiecne.website}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                    <div class="row">
                        <div class="col-12 col-sm-8 col-md-7 col-xl-8">
                            <p class="mb-0 mb-sm-1">{{experiecne.position}} <small>at</small> {{experiecne.company_name}}</p>
                        </div>
                        <div class="col-12 col-sm-4 col-md-5 col-xl-4 mb-2 mb-sm-0 text-right">
                            <small class="text-muted">{{experiecne.start}} - {{experiecne.end}}</small>
                        </div>
                    </div>
                    <p class="mb-1 small">{{experiecne.description}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>