<div class="container-fluid max-width mt-5 mb-5" id="experience">
    <div class="card">
        <div class="card-header">Experience</div>
        <div class="card-body">
            <div class="list-group">
                    {% for experiecne in site.experiecnes %}
                <a href="{{experiecne.website}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{experiecne.position}} <small>at</small> {{experiecne.company_name}}</p>
                        <small>{{experiecne.start}} - {{experiecne.end}}</small>
                    </div>
                    <p class="mb-1 small">{{experiecne.description}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>