<div class="row">
    <div class="col-3">
        <div class="topic-title">
            <h2 class="title">Experience</h2>
            <div class="description">
                <p>In these following types of work i have complement and confident skillset.</p>
            </div>
        </div>
    </div>
    <div class="col-9 experience-holder">
        <div class="experience">
            <div class="title">Web Developer @ Nybsys</div>
            <div class="timeline">July 15 2017 - Currently Working Here</div>
            <div class="description">Nybsys is a multinational software company.</div>
        </div>
        <div class="experience">
            <div class="title">PHP Programmer @ AtiqIT</div>
            <div class="timeline">Dec 01 2016 - Jun 1 2017</div>
            <div class="description">Nybsys is a multinational software company.</div>
        </div>
    </div>
</div>