<p><strong>Languages: </strong></p>
<table>
    <tr>
        <td>NO</td>
        <td>Language</td>
        <td>Reading</td>
        <td>Writing</td>
        <td>Speaking</td>
    </tr>
    <tr>
        <td>01</td>
        <td>Bangla</td>
        <td>Native</td>
        <td>Native</td>
        <td>Native</td>
    </tr>
    <tr>
        <td>02</td>
        <td>English</td>
        <td>Reading</td>
        <td>Writing</td>
        <td>Speaking</td>
    </tr>
    <tr>
        <td>03</td>
        <td>Hindi</td>
        <td>Reading</td>
        <td>Writing</td>
        <td>Speaking</td>
    </tr>
    <tr>
        <td>04</td>
        <td>Arabic</td>
        <td>Reading</td>
        <td>Writing</td>
        <td>Speaking</td>
    </tr>
</table>
