<p><strong>Languages: </strong></p>
<div class="table-responsive m-b-40">
    <table>
        <tr>
            <td>NO</td>
            <td>Language</td>
            <td>Reading</td>
            <td>Writing</td>
            <td>Speaking</td>
        </tr>
        <tr>
            <td>01</td>
            <td>Bangla</td>
            <td>Native</td>
            <td>Native</td>
            <td>Native</td>
        </tr>
        <tr>
            <td>02</td>
            <td>English</td>
            <td>Medium</td>
            <td>Medium</td>
            <td>Medium</td>
        </tr>
        <tr>
            <td>03</td>
            <td>Hindi</td>
            <td>NO</td>
            <td>N0</td>
            <td>Midium</td>
        </tr>
    </table>
</div>
