<div class="menubar d-block d-sm-block d-md-none shadow">
    <div class="row m-0">
        <div class="col-8 left-part">
            <button id="open_menu_btn" class="menu-btn btn-dark btn d-block d-sm-block d-md-none pt-0 pb-0 pl-2 pr-2">
                <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
            </button>
        </div>
        <div class="col-4 right-part text-right  other-menubutton">
            <a class="extra-link" href="{{site.cvlink}}" download="kousher_resume.pdf">
                <span class="icon">{% include icons/pdf.html %}</span>
            </a>
            <a class="extra-link" href="{{site.linkedin}}" target="blank" download="kousher_resume.pdf">
                <span class="icon">{% include icons/linkedin.html %}</span>
            </a>
        </div>
    </div>
</div>


<div class="desktop-menu d-none d-md-flex bg-white" id="main-menu">
    <div class="container-fluid max-width">
        <div class="row">
            <div class="col-10 col-sm-8 pl-0">
                <nav class="navbar navbar-expand pl-0">
                    <ul class="navbar-nav" id="main-menu-links">
                        <li class="nav-item d-none mr-0 mr-md-3 text-center" id="main-menu-image">
                            <img src="{{site.my_image}}" class="img-thubnail" style="height: 50px;" alt="KOUSER" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-3 pr-3 mr-1" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-3 pr-3 mr-1" href="#experience">Experience</a>
                        </li>
                        {% if site.workprocess.size > 0 %}
                        <li class="nav-item">
                            <a class="nav-link pl-3 pr-3  mr-1" href="#work_process">Work Process</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link pl-3 pr-3" href="#contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-4 text-md-right">
                <a class="extra-link" href="{{site.cvlink}}" download="kousher_resume.pdf">
                    <span class="icon">{% include icons/pdf.html %}</span>
                </a>
                <a class="extra-link" href="{{site.linkedin}}" target="blank" download="kousher_resume.pdf">
                    <span class="icon">{% include icons/linkedin.html %}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu d-none d-md-none row bg-white shadow" id="mobile-menu">

    <button id="close_menu_btn" class="close-btn btn-dark btn pl-3 pr-3">
                <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#FFFFFF" points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 "/></svg>
        </button>
        
    <div class="col-10 col-sm-12 col-md-10 pl-0">
        <nav class="navbar navbar-expand-md pl-0">
            <ul class="navbar-nav">
                <li class="nav-item mb-3 text-center">
                    <img src="{{site.my_image}}" class="img-thubnail" alt="KOUSER" />
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 pl-md-0 pr-3" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 pr-3" href="#experience">Experience</a>
                </li>
                {% if site.workprocess.size > 0 %}
                <li class="nav-item">
                    <a class="nav-link pl-3 pr-3" href="#work_process">Work Process</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link pl-3 pr-3" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>