<div class="col-10 col-sm-10 col-md-10 pl-0">
    <nav class="navbar navbar-expand pl-0">
        <ul class="navbar-nav" id="main-menu-links">
            <li class="nav-item d-none mr-3" id="main-menu-image">
                <img src="{{site.my_image}}" class="img-thubnail" style="height:50px;" alt="KOUSER" />
            </li>
            <li class="nav-item">
                <a class="nav-link pl-0 pr-3" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-3 pr-3" href="#">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-3 pr-3" href="#">Work Process</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-3 pr-3" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</div>
<div class="col-2 text-right pr-0">
    <a class="extra-link" href="{{site.cvlink}}" download="kousher_resume.pdf">
        <span class="icon">{% include icons/pdf.html %}</span>
    </a>
    <a class="extra-link" href="{{site.linkedin}}" target="blank" download="kousher_resume.pdf">
        <span class="icon">{% include icons/linkedin.html %}</span>
    </a>
    <!-- <a class="extra-link" href="cv.pdf" target="blank" download="kousher_resume.pdf">
        <span class="icon">{% include icons/upwork.html %}</span>
    </a> -->
</div>