<div class="my-intro row" my-intro>
    <div class="my-pic col-3">
        <img src="{{site.my_image}}" class="img-thumbnail" alt="My Image" /> 
    </div>
    <div class="my-description col-9">
        <div class="name">
            <h1>Kousher alam - Full Stack Developer</h1>
        </div>
        <div class="description">
            <p>{{ site.description }}</p>
            <p>I love to use build and automated tools such as webpack, gulp, sometimes simple node-script do the job. And also  bitbuket pipeline.</p>
        </div>
        
        <div class="controll-btn tex-right mt-3">
            <button class="btn btn-primary mr-2">Skills</button>
            <button class="btn btn-primary mr-2">Experience</button>
            <button class="btn btn-primary mr-2">Hobby</button>
            <button class="btn btn-primary mr-2">Contact</button>
        </div>
    </div>
</div>


