<div class="container-fluid max-width mt-0">
    <div class="my-intro row" my-intro>
        <div class="my-pic md-2 md-sm-1 mb-md-0 col-12 text-center col-sm-12 col-md-4 col-xl-3">
            <img id="my-image-thubnail" src="{{site.my_image}}" class="img-thumbnail" alt="My Image" />
        </div>
        <div class="my-description col-12 col-sm-12 col-md-8 col-xl-9">
            <div class="name">
                <h1 class="font-italic font-weight-lighter">Hi, I'm Kousher alam</h1>
            </div>
            <div class="description">
                <p class="main-description">{{ site.description }}</p>
                <p class="main-description sub-description">{{site.sub_description}}</p>
            </div>
        </div>
    </div>
</div>