<div class="my-intro row" my-intro>
    <div class="my-pic col-3">
        <img src="{{site.my_image}}" class="img-thumbnail" alt="My Image" /> 
    </div>
    <div class="my-description col-9">
        <div class="name">
            <h1>Kousher alam - Full Stack Developer</h1>
        </div>
        <div class="description">
            <p class="main-description">{{ site.description }}</p>
            <p class="main-description">{{site.sub_description}}</p>
        </div>
        
        <div class="controll-btn tex-right mt-3">
            <a href="#skills" class="btn btn-primary mr-2">Skills</a>
            <a href="#experience" class="btn btn-primary mr-2">Experience</a>
            <a href="#hobby" class="btn btn-primary mr-2">Hobby</a>
            <a href="#contact" class="btn btn-primary mr-2">Contact</a>
        </div>
    </div>
</div>


