<header>
    <button id="menubtn" class="menu-btn">Menu</button>
    <section class="author-section">
        <img src="{{site.baseurl}}/img/author.jpg" alt="kousher image" />
        <h1 class="name">Kousher Alam</h1>
    </section>
    <nav id="main-navigation" class="main-navigation">
        <button id="close-btn">X</button>
        <section class="menu-container">
            <menuitem>
            <a href="/">Home</a>
            </menuitem>
            <menuitem>
            <a href="/project">Project</a>
            </menuitem>
            <menuitem>
            <a href="/about">About</a>
            </menuitem>
            <menuitem>
            <a href="/contact">Contact</a>
            </menuitem>
            <menuitem>
            <a href="/cv">Download CV</a>
            </menuitem>
        </section>
    </nav>
</header>