<header>
    <button id="menubtn" class="menu-btn">Menu</button>
    <section class="author-section">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/author.jpg" alt="kousher image" /></a>
        <h1 class="name"><a href="{{site.baseurl}}/">Kousher Alam</a></h1>
    </section>
    <nav id="main-navigation" class="main-navigation">
        <button id="close-btn">X</button>
        <section class="menu-container">
            <menuitem>
                <a href="/index.html" class="{% if page.url == '' or page.url == '/' or page.url contains '/page' or page.url contains '/post' %}active{% endif %}">Home</a>
            </menuitem>
            <menuitem>
                <a href="/project.html" class="{% if page.url contains '/project' %}active{% endif %}">Project</a>
            </menuitem>
            <menuitem>
                <a class="{% if page.url contains '/about' %}active{% endif %}" href="/about.html">About</a>
            </menuitem>
            <menuitem>
                <a class="{% if page.url contains '/contact' %}active{% endif %}" href="/contact.html">Contact</a>
            </menuitem>
            <menuitem>
                <a target="_blank" href="{{site.baseurl}}/kousher_cv.pdf">Download CV</a>
            </menuitem>
        </section>
    </nav>
</header>