<p><strong>Skills: </strong> I'm Expert on </p>
<table>
    <tr>
        <td>NO</td>
        <td>Technology</td>
        <td>Post/s</td>
        <td>Project/s</td>
    </tr>
    <tr>
        <td>01</td>
        <td>SVG</td>
        <td><button>All SVG Posts</button></td>
        <td><button>All SVG Projects</button></td>
    </tr>
    <tr>
        <td>02</td>
        <td>Technology</td>
        <td><button>All Posts</button></td>
        <td><button>All Projects</button></td>
    </tr>
    <tr>
        <td>03</td>
        <td>Technology</td>
        <td><button>All Technology Posts</button></td>
        <td><button>All Technology Projects</button></td>
    </tr>
    <tr>
        <td>04</td>
        <td>Technology</td>
        <td><button>All Posts</button></td>
        <td><button>All Projects</button></td>
    </tr>
    <tr>
        <td>05</td>
        <td>Technology</td>
        <td><button>All Posts</button></td>
        <td><button>All Projects</button></td>
    </tr>
</table>