<div class="container-fluid max-width pt-5 pb-5">
    <div class="row">
        <div class="col-12">
            <div class="topic-title">
                <h2 class="title text-white">My Skills</h2>
                <p class="description text-white-50">{{site.skill_description}}</p>
            </div>
        </div>
        <div class="col-12 skill-holder row">
            {% for skill in site.skills %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <div class="skill card">
                    <div class="card-header pl-3 pr-3">
                        <span class="skill-name d-block">{{skill.title}}</span>
                        <span class="skill-type d-block">{{skill.type}}</span>
                    </div>
                    <div class="card-body">
                        {{skill.description}}
                    </div>
                    <button class="btn btn-block btn-primary">Details</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>