<div class="container-fluid max-width pt-5 pb-5">
    <div class="row">
        <div class="col-12 mb-3 text-white mb-4">
            <span class="pb-2 border-bottom h2 d-block font-weight-light">My Skills</span>
        </div>
        <div class="col-12 skill-holder row">
            {% for skill in site.skills %}
            <div class="col-12 col-sm-6 col-xl-6 mb-3">
                <div class="skill card rounded-0">
                    <div class="card-body mb-0 pb-0">
                        <div class="card-title">
                            <span class="skill-name d-block">{{skill.title}}</span>
                        </div>
                        <p class="card-text">{{skill.description}}</p>
                    </div>
                    <div class="text-right action-btn pt-2 pb-2 pr-2">
                        {% if skill.projects.size > 0  %}
                            <button class="btn btn-primary pl-5 pr-5 shadow rounded-0" sheet-toggle="{{skill.id}}">Projects</button>
                        {% endif %} 
                    </div>
                </div>
            </div>
            {% if skill.projects.size > 0 %}
            <div id="{{skill.id}}" class="botton-sheet">
                <div class="sheet sheet-content pb-5">
                    <div class="title bg-white">
                        <div class="container-fluid max-width border-bottom">
                            <div class="p-3 row">
                                <div class="col-8">
                                    <span class="font-weight-bold lead">{{skill.title}} {% if skill.projects.size == 1 %} Project {% elsif skill.projects.size > 1 %} Projects {%endif%}</span>
                                    <span class="d-block technology">
                                        <span class="mr-1 name me text-white">Done By Me</span>
                                        <span class="name">Not Done By Me</span>
                                    </span>
                                </div>
                                <div class="col-4 text-right">
                                    <button class="btn btn-outline-danger"  sheet-close="{{skill.id}}">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-auto main-project-content bg-white">
                        <div class="container-fluid max-width mb-4">
                            <ul class="projects list-group">
                                {% for project in skill.projects %}
                                <li class="list-group-item bg-dark text-white mb-2">
                                    <div class="d-flex w-100 justify-content-between mb-3">
                                        <h5 class="mb-1">{{project.project_name}}</h5>
                                        {% if project.team %}
                                            <span class="badge badge-primary">TEAM</span>
                                        {% endif %}
                                    </div>
                                    <div class="description">
                                        <p class="proj_des mb-2 small">{{project.description}}</p>
                                        <p class="my_responsibility small">
                                            {% if project.team %}
                                                <strong>My Responsibility: </strong>
                                            {% endif %}
                                            {{project.my_responsibility}}
                                        </p>
                                    </div>
                                    <div class="technology">
                                        {% for tech in project.technology %}
                                            <span class="name {% if tech.me %} me {% endif %}">{{tech.skill_name}}</span>
                                        {% endfor %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="shade shade-container" sheet-close="{{skill.id}}"></div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>