<div class="row" id="skills">
    <div class="col-3">
        <div class="topic-title">
            <h2 class="title">My Skills</h2>
            <p class="description">{{site.skill_description}}</p>
            <div class="indentifier">
                <div class="basic">
                    <span class="type-bg"></span>
                    <span class="type-name">Basic</span>
                </div>
                <div class="intermediate">
                    <span class="type-bg"></span>
                    <span class="type-name">Intermediate</span>
                </div>
                <div class="expert">
                    <span class="type-bg"></span>
                    <span class="type-name">Expert</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 skill-holder">
        {% for skill in site.skills %}
            <div class="skill shadow-sm p-3 mb-3">
                <p class="title" title="{{skill.type}}"><span class="squre {{skill.type}}"></span>{{skill.title}}</p>
                <p class="description">{{skill.description}}</p>
            </div>
        {% endfor %}
    </div>
</div>

