<p><strong>Social Links: </strong></p>
<div class="table-responsive">
<table>
    <tr>
        <td>Platform</td>
        <td>Links</td>
    </tr>
    <tr>
        <td>Github</td>
        <td><a href="https://github.com/kousherAlam">https://github.com/kousherAlam</a></td>
    </tr>
    <tr>
        <td>StackOverflow</td>
        <td><a href="https://stackoverflow.com/user/01211101">https://stackoverflow.com/user/01211101</a></td>
    </tr>
    <tr>
        <td>LinkedIn</td>
        <td><a href="https://linkedin.com/kousherAlam">https://linkedin.com/kousherAlam</a></td>
    </tr>
    <tr>
        <td>Facebook</td>
        <td><a href="https://facebook.com/MdKousherAlamPranto">https://facebook.com/MdKousherAlamPranto</a></td>
    </tr>
</table>
</div>
