<p><strong>Social Links: </strong></p>
<table>
    <tr>
        <td>Platform</td>
        <td>Links</td>
    </tr>
    <tr>
        <td>Github</td>
        <td>https://github.com/kousherAlam</td>
    </tr>
    <tr>
        <td>StackOverflow</td>
        <td>https://stackoverflow.com/user/01211101</td>
    </tr>
    <tr>
        <td>LinkedIn</td>
        <td>https://linkedin.com/kousherAlam</td>
    </tr>
    <tr>
        <td>Facebook</td>
        <td>https://facebook.com/kousherAlam</td>
    </tr>
</table>
