<p><strong>Social Links: </strong></p>
<div class="table-responsive">
<table>
    <tr>
        <td>Platform</td>
        <td>Links</td>
    </tr>
    <tr>
        <td>Github</td>
        <td><a target="_blank" href="https://github.com/kousherAlam">https://github.com/kousherAlam</a></td>
    </tr>
    <tr>
        <td>StackOverflow</td>
        <td><a target="_blank" href="https://stackoverflow.com/users/7448841/kousher-alam-pranto">https://stackoverflow.com/user/01211101</a></td>
    </tr>
    <tr>
        <td>LinkedIn</td>
        <td><a target="_blank" href="https://www.linkedin.com/in/kousheralam">https://www.linkedin.com/in/kousheralam</a></td>
    </tr>
    <tr>
        <td>Codepen</td>
        <td><a target="_blank" href="https://codepen.io/kousherAlam-pranto/">https://facebook.com/MdKousherAlamPranto</a></td>
    </tr>
    <tr>
        <td>Facebook</td>
        <td><a target="_blank" href="https://facebook.com/MdKousherAlamPranto">https://facebook.com/MdKousherAlamPranto</a></td>
    </tr>
</table>
</div>
