<div class="row">
        <div class="col-3">
            <div class="topic-title">
                <h2 class="title">Work Process</h2>
                <div class="description">
                    <p>In these following types of work i have complement and confident skillset.</p>
                </div>
            </div>
        </div>
        <div class="col-9 process-holder">
            <div class="project shadow-sm p-2 mb-3">
                <div class="title">My Strategy for developing a project from ground to production</div>
            </div>
            <div class="problem shadow-sm p-2 mb-3">
                <div class="title">My approch to a probelm</div>
            </div>
            <div class="challenge shadow-sm p-2 mb-1">
                <div class="title">My approch to a challenge</div>
            </div>
        </div>
    </div>