<div class="row">
        <div class="col-3">
            <div class="topic-title">
                <h2 class="title">Work Process</h2>
                <div class="skill-description">
                    <p>In these following types of work i have complement and confident skillset.</p>
                </div>
            </div>
        </div>
        <div class="col-9 skill-holder">
            <div class="project">
                <div class="title">My Strategy for developing a project from ground to production</div>
            </div>
            <div class="problem">
                <div class="title">My approch to a probelm</div>
            </div>
            <div class="challenge">
                <div class="title">My approch to a challenge</div>
            </div>
        </div>
    </div>