<div class="container-fluid max-width">
<div class="row">
        <div class="col-12">
            <div class="topic-title">
                <h2 class="title">Work Process</h2>
                <p class="description">{{site.workprocess_description}}</p>
            </div>
        </div>
        <div class="col-12 process-holder">
            <div class="process shadow-sm p-3">
                <div class="title font-weight-bold">My Strategy for developing a project from ground to production</div>
                <div class="description">
                    <p class="mb-1 mt-0">When i start a project, i begain with the business. I think if i can understand the business properly then it will made working with project much easier.</p>
                    <p class="mb-1 mt-0">So i discuss the business multiple time with client and then start to develop the prototype.</p>
                    <p class="mb-2 mt-0">If we made the prototype ready, then we discuss about the workflow again. In this time we found many unnecessary freature or very important missing feature</p>
                    <p class="mb-1 mt-0">Now time to working with the application automation and architecture. It take some time, because i think this is the most important part of an application, yes i know it's common to chnage application architecture but by creating an loosly couple architecture we can make sure to easily any part out or in.</p>
                    <p class="mb-1 mt-0">Now all the pices on place, it's time to make some todo and time estimation</p>
                    <p class="mb-1 mt-0">By this time application architecture, todo, time-estimation everything is ready. Now it's time to ready our first prototype version</p>
                    <p class="mb-1 mt-0">When prototype version 1 ready, now need to discuss and check all business are ok or not?</p>
                    <p class="mb-0 mt-0">If everything is ok then deploy it for Quality Testing , and Release. If not, then to the process from requirement to prototype version.</p>
                </div>
            </div>
        </div>
    </div>
</div>