.details-page-title {
    padding: 1rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media (min-width: map-get($breakpoints, sm)) {
        padding: 3rem 2rem;
    }
    @media (min-width: map-get($breakpoints, md)) {
        padding: 7rem 2rem;
    }
}
