#share-holder {
    .share-content {
        padding: 5px 0px;
        border-radius: 8px;

        button {
            padding: 10px 20px;
            border-radius: 15px;
            border-width: 0px;
            margin-right: 10px;
            background-color: white;
        }

        img {
            width: 50px;
        }
    }
}
