.about
	margin-bottom: 30px
	a 
		color: #000
		font-size: 1.2em
	p 
		margin-bottom: 8px
	h2 
		margin-bottom: 20px
.skill_list
	margin-bottom: 50px
	list-style-type: square
	padding-left: 20px
	li 
		font-weight: normal 
		line-height: 26px
		margin-bottom: 8px
		color: #dbdbdb
		border-bottom: 1px solid #989898
		padding-bottom: 0px
		span 
			letter-spacing: .5px
			margin-right: 4px
			color: #8ebfd6
.name-color
	background: white
	color: black
	font-weight: bold
.skill-heading
	font-weight: bold 
	margin-top: 40px
	letter-spacing: 1px