#main-content
    margin-top: 60px
    padding: 0px 10px
    padding-left: 10px
    .post
        line-height: 28px
        letter-spacing: .9px
        h1, h2, h3, h4, h5, h6, section 
            margin-bottom: 6px
        p,ul
            color: #c0c0c0
            margin-bottom: 30px
            margin-top: 0px
        ul, ol , dl
            padding-left: 20px
            margin-left: 0px
            @media (min-width: 700px)
                margin-left: 20px
            a 
                padding-left: 0px
        dl
            padding-left: 0px 
            dd 
                margin-left: 20px
                ul 
                    margin-left: 0px
        ul 
            list-style-type: square
        img 
            max-width: 100%
            margin: 10px 0px
            display: block
            &.center
                margin-left: auto
                margin-right: auto
        section
            .title
                margin-bottom: 5px
            p 
                padding-left: 20px
        .title
            border-bottom: 1px solid silver 
            padding-bottom: 12px
            margin-bottom: 25px
            +clearfix
        p.code
            margin-bottom: 0px

    @media (min-width: 700px)
        margin-top: 20px
        padding-top: 15px
        padding-left: $menu-width + 10px
        .post
            ul, ol
                li 
                    font-weight: 300
            img 
                max-width: 90% 
    @media (min-width: 900px)
        padding-left: $menu-width + 60px
        padding-right: 60px

    @media (min-width: $layout-big)
        margin-top: 0px
        padding-left: 0px
        padding-right: 0px
        margin-top: 75px
