#main-content
    margin-top: 60px
    padding: 0px 10px
    padding-left: 10px
    .post
        line-height: 24px
        p , h1, h2, h3, h4, h5, h6, section 
            margin-bottom: 15px
    @media (min-width: 700px)
        margin-top: 0px
        padding-top: 15px
        padding-left: $menu-width + 10px