.left
    float: left 
.right
    float: right
.m-b-0
    margin-bottom: 0px
.form-group
    margin-bottom: 15px
.text-center
    text-align: center
.active
    background: black
    color: white
    &:hover,
    &:focus
        opacity: 1
.error_message
    font-size: 12px
    background: red
    padding: 2px 5px
    display: none
.pos-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)