<div class="header bg-primary">
    <div class="container">
        <div class="row">
            <div class="logo col-9 col-md-4 pl-3 pl-md-0">
                <a href="/" class="main-logo p-0 btn position-relative overflow-hidden">
                    <img src="/assets/favicon.ico/android-icon-192x192.png" />
                    <span class="text d-inline-block text-left pl-1 position-relative">
                        <span class="title d-block font-weight-bold text-info">Kousher Alam</span>
                        <span class="designation small d-block text-info">Love to learn, think, build, update</span>
                    </span>
                </a>
            </div>
            <div class="col-3 d-md-none d-block mt-2 text-right pr-3">
                <button class="btn btn-outline-success mt-1 position-relative mobile-menu-btn" onclick="toggleMenu()">Menu</button>
            </div>
            <div class="menu-holder d-none d-md-block col-8 text-right">
                <ul class="menu mb-0">
                    <li {% if page.url contains "/blog/" %} class="active" {% endif %}> 
                        <a href="/blog">Blog</a>
                    </li>
                    <li {% if page.url contains "/portfolio/" %} class="active" {% endif %}> 
                        <a href="/portfolio">Portfolio</a> 
                    </li>
                    <li {% if page.url contains "/demo/" %} class="active" {% endif %}> 
                        <a href="/demo">Demo</a> 
                    </li>
                    <li {% if page.url contains "/contact/" or page.url == "/contact" or page.url == "/contact.html" %} class="active" {% endif %}> 
                        <a href="/contact">Contact</a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu fixed-top bg-primary d-md-none d-block" id="mobile-menu">
    <div class="close-button position-absolute text-center">
        <button class="btn btn-danger pl-4 pr-4 pt-2 pb-2 rounded-pill" onclick="toggleMenu()">Close</button>
    </div>
    <div class="pl-3 pr-3 pt-5">
        <ul class="list-style-none pt-5">
            <li>
                <a 
                    class='btn text-light btn-block text-left {% if page.url contains "/blog/" %} active {% endif %}' 
                    href="/blog">
                    Blog
                </a>
            </li>
            <li>
                <a 
                    class='btn text-light btn-block text-left {% if page.url contains "/portfolio/" %} active {% endif %}'
                    href="/portfolio">
                    Portfolio
                </a>
            </li>
            <li>
                <a 
                    class='btn text-light btn-block text-left {% if page.url contains "/demo/" %} active {% endif %}' 
                    href="/demo">
                    Demo
                </a>
            </li>
            <li>
                <a 
                    class='btn text-light btn-block text-left {% if page.url contains "/contact/" or page.url == "/contact" or page.url == "/contact.html" %} active {% endif %}'
                    href="/contact">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</div>