<div class="header bg-primary">
    <div class="container">
        <div class="row">
            <div class="logo col-9 col-md-3 pl-3 pl-md-0">
                <a href="/">Kousher Alam</a>
            </div>
            <div class="col-3 d-md-none d-block mt-2">
                <button class="btn btn-outline-success" onclick="toggleMenu()">Menu</button>
            </div>
            <div class="menu-holder d-none d-md-block col-9 text-right">
                <ul class="menu mb-0">
                    <li {% if page.url contains "/blog/" %} class="active" {% endif %}> 
                        <a href="/blog">Blog</a>
                    </li>
                    <li {% if page.url contains "/portfolio/" %} class="active" {% endif %}> 
                        <a href="/portfolio">Portfolio</a> 
                    </li>
                    <li {% if page.url contains "/demo/" %} class="active" {% endif %}> 
                        <a href="/demo">Demo</a> 
                    </li>
                    <li {% if page.url contains "/contact/" or page.url == "/contact" or page.url == "/contact.html" %} class="active" {% endif %}> 
                        <a href="/contact">Contact</a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu fixed-top bg-primary d-md-none d-block" id="mobile-menu">
    <div class="close-button position-absolute text-center">
        <button class="btn btn-danger" onclick="toggleMenu()">Close</button>
    </div>
    <div class="pl-3 pr-3 pt-5">
        <ul class="list-style-none pt-5">
            <li>
                <a 
                    class='btn text-light btn-block text-left {% if page.url contains "/blog/" %} active {% endif %}' 
                    href="/blog">
                    Blog
                </a>
            </li>
            <li>
                <a 
                    class='btn text-light btn-block text-left {% if page.url contains "/portfolio/" %} active {% endif %}'
                    href="/portfolio">
                    Portfolio
                </a>
            </li>
            <li>
                <a 
                    class='btn text-light btn-block text-left {% if page.url contains "/demo/" %} active {% endif %}' 
                    href="/demo">
                    Demo
                </a>
            </li>
            <li>
                <a 
                    class='btn text-light btn-block text-left {% if page.url contains "/contact/" or page.url == "/contact" or page.url == "/contact.html" %} active {% endif %}'
                    href="/contact">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</div>