<ul class="inline d-inline-block">
    <li class="mr-3 d-inline-block">
        <a href="{{site.social_links.facebook}}" target="blank">
            <img src="/assets/icons/facebook.svg" alt="facebook" />
        </a>
    </li>
    <li class="mr-3 d-inline-block">
        <a href="{{site.social_links.twitter}}" target="blank">
            <img src="/assets/icons/twitter.svg" alt="twitter" />
        </a>
    </li>
    <li class="mr-3 d-inline-block">
        <a href="{{site.social_links.linkedin}}" target="blank">
            <img src="/assets/icons/linkedin.svg" alt="linkedin" />
        </a>
    </li>
    <li class="mr-3 d-inline-block">
        <a href="{{site.social_links.github}}" target="blank">
            <img src="/assets/icons/github.svg" alt="github" />
        </a>
    </li>
    <li class="mr-3 d-inline-block">
        <a href="{{site.social_links.stackoverflow}}" target="blank">
            <img src="/assets/icons/stackoverflow.svg" alt="github" />
        </a>
    </li>
    <li class="mr-3 d-inline-block">
        <a href="{{site.social_links.npm}}" target="blank">
            <img src="/assets/icons/npm.svg" alt="github" />
        </a>
    </li>
</ul>