$input-btn-focus-box-shadow: none;
$btn-focus-box-shadow:       none;
$input-btn-focus-width:      0;
$grid-gutter-width:          0px;
$font-family-base:           "Josefin Sans", sans-serif;
$font-size-base: 1.1rem;


// boostrap colors
$theme-colors: (
  "primary": #023152,
  "secondary": #034f84,
  "success":    #5AB342,
  "light": #FFFFFF,
  "info": #E4F1F9,
  "black": black,
  'warning': #f76a32,
);
// $theme-colors: (
//   "warning":    ..,
//   "danger":     ..,
//   "dark":       ..
// );

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1260px
);

// colors
// $main-bg-color: rgb(0, 68, 255);
// $main-text-color: #000000;
// $main-white-color: #ffffff;
