<div class="px-5 py-5 bg-slate-800 rounded-sm">
  <slot />
  <div class="flex justify-center items-center">
    <button
      class="hover:text-orange-400 px-8 py-3 border border-orange-400"
      data-custom-open="help-modal">Need Help ?</button
    >
  </div>
</div>
