---
import Base from "@/layouts/Base.astro";
const title = `Page not found`;
const description = `Sorry, we couldn’t find the page you’re looking for.`;
---

<Base
  head={{
    title,
    description,
  }}
>
  <p class="text-4xl">
    You will be redirected to https://kousheralam.com/ soon!
  </p>
</Base>
