---
import Base from "@/layouts/Base.astro";
const title = `Page not found`;
const description = `Sorry, we couldn’t find the page you’re looking for.`;
---

<Base
  head={{
    title,
    description,
  }}
>
  <div class="flex min-h-full flex-col">
    <main
      class="mx-auto flex w-full max-w-7xl flex-auto flex-col justify-center px-6 py-24 sm:py-64 lg:px-8"
    >
      <p class="text-4xl font-semibold leading-8 text-orange-800">404</p>
      <h1
        class="mt-4 text-8xl font-bold tracking-tight text-orange-700 sm:text-5xl"
      >
        {title}
      </h1>
      <p class="mt-6 text-base leading-7 text-white">
        {description}
      </p>
      <div class="mt-10">
        <a href="/" class="text-sm font-semibold leading-7 text-orange-600"
          ><span aria-hidden="true">&larr;</span> Back to home</a
        >
      </div>
    </main>
  </div>
</Base>
