---
import { getCollection, type CollectionEntry } from "astro:content";
import Base from "../layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import { fileterPublishedConent } from "@/utils/Posts";
import Footer from "../components/Footer.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const articles = await getCollection("articles", fileterPublishedConent);
  return articles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
interface Props {
  entry: CollectionEntry<"articles">;
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const description = entry.data.description || entry.data.title;
import { BiArrowBack } from "react-icons/bi/index";
import { format } from "date-fns";
import ShareButton from "../components/ShareButton.astro";
---

<Base head={{ title: entry.data.title, description }}>
  <div class="mb-8 max-w-xs flex items-center">
    <a
      href="/"
      class="flex gap-3 items-center px-8 py-4 border-2 hover:bg-slate-800 hover:border-orange-600 border-orange-800 text-white"
    >
      <span>
        <BiArrowBack />
      </span>
      <span>Back to main page</span>
    </a>
  </div>
  <div class="text-orange-500 mb-4">
    <div class="">
      <h1 class="text-left text-4xl font-bold mb-2">
        {entry.data.title}
      </h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="ml-0 text-left text-sm">
          <span class="text-xs">By</span>
          <span class="ml-1">
            <a href="/">{AppConfig.author}</a>
          </span>
          <span class="text-xs ml-4">Published on</span>
          <span class="ml-1">
            {format(entry.data.published, "do LLLL y")}
          </span>
        </div>
        <div>
          <ShareButton />
        </div>
      </div>
    </div>
  </div>
  <div class="prose max-w-4xl prose-invert mt-8 prose-img:rounded-lg">
    <div style="min-height: 50vh;">
      <Content />
    </div>
  </div>

  <footer class="mt-12">
    <Footer />
  </footer>
</Base>
