---
import type { IFrontmatter } from "@/core";

import { Hero } from "@/core/components/Hero";
import Certificate from "@/core/components/Certificate";
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import ArticleCard from "../core/partials/ArticleCard";
import { Footer } from "@/core/partials/Footer";
const allArtilces = await Astro.glob<IFrontmatter>("/src/pages/**/*.mdx");

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <div class="pt-4 pb-4 mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
      {
        AppConfig.certifications.map((cert) => {
          if(!cert.title) {return <></>}
          return (
            <div class="mb-3">
              <Certificate {...cert} />
            </div>
          );
        })
      }
    </div>
  </div>

  <div class="mt-8 pt-4">
    <h4 class="mb-3">
      Publications <span class="text-bold text-xs">/</span> Projects
    </h4>
    <div class="grid gap-6">
      {allArtilces.map((article) => <ArticleCard data={article} />)}
    </div>
  </div>

  <footer class="mt-12">
    <Footer />
  </footer>
</Base>
