---
import type { IFrontmatter } from "@/components/core";

import { Hero } from "@/components/partials/Hero";
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import ArticleCard from "../components/partials/ArticleCard";
import Certificate from "../components/partials/Certificate";

const allArtilces = await Astro.glob<IFrontmatter>("/src/contents/**/*.mdx");

const { title } = AppConfig;
const { description } = AppConfig;

const certificates: any[] = [
  {
    badge: "/assets/certificate-badge/aws-sol-arc-associate.png",
    title: "AWS Solutions developer assoicate",
    issue: {
      website: "https://coursera.com",
      by: "Coursera",
      date: "Date",
      expiry: "Date",
    },
    verify: "https://coursera.com",
  },
  {
    badge: "/assets/certificate-badge/google-cybersecurity.png",
    title: "AWS Solutions developer assoicate",
    issue: {
      website: "https://coursera.com",
      by: "Coursera",
      date: "Date",
      expiry: "Date",
    },
    verify: "https://coursera.com",
  },
];
---

<Base head={{ title, description }}>
  <Hero />
  <div class="pt-4 pb-4 mt-10">
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
      {
        certificates.map((cert) => {
          return (
            <div class="mb-3">
              <Certificate {...cert} />
            </div>
          );
        })
      }
    </div>
  </div>

  <div class="mt-8 pt-4">
    <h4 id="publications" class="mb-2">Publications</h4>
    {
      allArtilces.map((article) => (
        <div class="grid gap-5">
          <ArticleCard data={article} />
        </div>
      ))
    }
  </div>
</Base>
