---
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
 <p>This site will be available soon!!</p>
</Base>
