---
title: Blog / My Thinking
layout: base-page
wrapper: blog-page
image: "/assets/blog/css-grid/future_technology_prospects.png"
pagination: 
  enabled: true
---

{% include common/top-header.html %}


<div class="container pt-4 mb-5">
    <div class="row">
        <div class="col-12 col-md-9">
            {% for post in paginator.posts %}
            <div class="single-blog mb-4 mb-md-3 p-3 p-md-0">
                {% 
                    include common/card.html 
                    url = post.url
                    title = post.title 
                    description = post.description
                    tags = post.tags
                    created = post.date
                    thubmail = post.thubmail
                %}
            </div>
            {% endfor %}

            <div class="pagination">
                <h1>pagination: </h1>
                {% if paginator.total_pages > 1 %}
                <ul>
                {% if paginator.previous_page %}
                <li>
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
                </li>
                {% endif %}
                {% if paginator.next_page %}
                <li>
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
                </li>
                {% endif %}
                </ul>
                {% else %}
                <h1>No Post: {{paginator.total_pages | size}} </h1>
                {% endif %}
            </div>

            <div class="single-blog p-3 p-md-0">
                <div class="pagination text-right mb-3">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="btn btn-primary pl-3 pr-3 previous">
                        Previous
                    </a>
                    {% else %}
                    <span class="previous">Previous</span>
                    {% endif %}
                    <span class="page_number ">
                        Page: {{ paginator.page }} of {{ paginator.total_pages }}
                    </span>
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="btn btn-primary pl-3 pr-3 next">Next</a>
                    {% else %}
                    <span class="next ">Next</span>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-12 col-md-3 pl-3">
            <h2>Categories</h2>
            <div class="all-categories text-justify">
                {% for category in site.post_category %}
                <a class="btn btn-outline-primary mr-2 mb-2" href="{{category.url}}" routerLinkActive="active">
                    {{category.title}}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>