---
layout: base-page
title: "Kousher Alam - Software Engineer"
wrapper: blog-page
title: Blog / My Thinking
image: '/assets/blog/css-grid/future_technology_prospects.png'
---

<div class='details-page-title bg-info' style="background-image: url('{{page.image}}');">
    <div class="pt-5 pb-5">
      <h1 class="text-center">
        <span class="bg-white text-primary pt-3 pb-3">{{page.title}}</span>
      </h1>
    </div>
  </div>

<div class="container pt-4 mb-5">
    <div class="row">
        <div class="col-12 col-md-9">
            {% for post in paginator.posts %}
            <div class="single-blog mb-4 mb-md-3 p-3 p-md-0">
                {% 
                    include common/card.html 
                    url = post.url
                    title = post.title 
                    description = post.description
                    tags = post.tags
                    created = post.date
                    thubmail = post.thubmail
                %}
            </div>
            {% endfor %}
            <div class="single-blog p-3 p-md-0">
                <div class="pagination text-right mb-3">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">
                        Previous
                    </a>
                    {% else %}
                    <span class="previous">Previous</span>
                    {% endif %}
                    <span class="page_number ">
                        Page: {{ paginator.page }} of {{ paginator.total_pages }}
                    </span>
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                    {% else %}
                    <span class="next ">Next</span>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-12 col-md-3 pl-3">
            <h2>Categories</h2>
            <div class="all-categories text-justify">
                {% for category in site.blog_category %}
                <a class="btn btn-outline-primary mr-2 mb-2" href="{{category.url}}" routerLinkActive="active">
                    {{category.name}}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>