<a class="content-card border shadow-sm bg-white mb-3" href="{{include.url}}">
    <div class="row">
        <div class="col-12 col-sm-5 col-md-4 preview position-relative text-center bg-white">
            {% if include.thumbnail != "" and include.thumbnail != nil %}
            <div class="thumb-image card-bg-image" style="background-image:url('{{include.thumbnail}}')"></div>
            {% else %}
            <div class="thumb-image card-bg-image" style="background-image:url('/assets/images/blog-default.jpg')"></div>
            {% endif %}
        </div>
        <div class="col-12 col-sm-7 col-md-8 pt-3 pb-3 pl-4 pr-3 row card-content card-content-min-height">
            <div class="col-12">
                <h4 class="title mb-0">{{include.title}}</h4>
                    <div class="published-on">
                        <p class="mt-0 small">Published on: <span>{{ include.created | date: '%B %d, %Y' }}</span></p>
                    </div>
                <p class="description">{{include.description}}</p>
            </div>
            <div class="col-12 align-self-end">
                <div class="categories">
                    <ul class="unlist inline tag-list tech">
                        {% for tag in include.tags %}
                        <li>
                            <span class="d-inline-block small bg-dark text-info pl-3 pr-3 border border-primary rounded-pill text-capitalize text-primary btn-sm mr-2 mb-2">
                                {{tag}}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</a>