<script>
    window.addEventListener("load", function(){
      var ids = {{ page.preview_ids | jsonify }};
      var isOneAutoplay = false;
      if(ids && ids != null && ids.length > 0){
          for(var i=0; i<ids.length; i++){
              const gallery = new Viewer(document.getElementById(ids[i]));
                if(tns){
                    var slider = tns({
                        container: '#'+ids[i],
                        items: 4,
                        mouseDrag: true,
                        autoplay: !isOneAutoplay,
                        autoplayButtonOutput: false,
                    });
                    isOneAutoplay = true;
                }
          }
      }
    });
</script>
  