<div class="pagination text-right mb-3">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn btn-sm btn-primary pl-4 pr-4 pt-2 pb-2 previous mr-3">
        Previous
    </a>
    {% else %}
    <button disabled  class="btn btn-sm btn-primary pl-4 pr-4 pt-2 pb-2 previous mr-3">Previous</button>
    {% endif %}
    <span class="page_number small">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-primary btn-sm rounded-lg pl-4 pr-4 pt-2 pb-2 next ml-3">Next</a>
    {% else %}
    <button disabled class="btn btn-sm btn-primary pl-4 pr-4 pt-2 pb-2 next ml-3">Next</button>
    {% endif %}
</div>