<div id="share-holder" class="mb-4" style="padding-bottom: 30px;">
    <h2 class="mb-1">Share on </h2>
    <div class="share-content">
        <button data-sharer="facebook" data-hashtag="kousheralam, , software engineer"
            title="share on facebook"
            style="padding-left: 0px;"
            data-url="{{page.url | absolute_url}}">
            <img src="/assets/icons/facebook.svg" alt="Facebook" />
        </button>

        <button data-sharer="twitter" data-title="{{site.data.share.title}}"
            title="share on twitter"
            data-hashtags="kousheralam, software engineer" data-url="{{page.url | absolute_url}}">
            <img src="/assets/icons/twitter.svg" alt="Twitter" />
        </button>

        <button class="button linkedin" data-sharer="linkedin"
            title="share on linkedin"
            data-url="{{page.url | absolute_url}}">
            <img src="/assets/icons/linkedin.svg" alt="Linkedin" />
        </button>

        <button class="button" data-sharer="email" data-title="{{site.data.share.title}}"
            title="share via email"
            data-url="{{page.url | absolute_url}}" data-subject="Kousher alam, Is an Awesome Software Engineer!"
            data-to="some@email.com">
            <img src="/assets/icons/email.svg" alt="Email" />
        </button>

        <button onclick="copyLink()" 
        title="copy the link">
            <img src="/assets/icons/copy.svg" alt="Copy" />
        </button>
    </div>
</div>

<script>
    function copyLink() {
        var url = "{{page.url | absolute_url}}";
        var copyInp = document.createElement("input");
        copyInp.style.display = "none!important";
        document.body.appendChild(copyInp);
        copyInp.value = url;
        copyInp.select();
        copyInp.setSelectionRange(0, 99999);
        document.execCommand("copy");
        copyInp.parentElement.removeChild(copyInp);
        alert("link copied to clipboard");
        toggleShare(true);
    }
</script>