<div class="content-card border shadow-sm bg-white border-primary">
    <div class="row align-items-center">
        <div class="col-12 row card-content p-4">
            <div class="col-12">
                <a href="{{include.url}}">
                    <h3 class="title">{{include.title}}</h3>
                </a>
    
                <p class="description">{{include.description}}</p>
            </div>
            <div class="col-12 align-self-end">
                <div class="categories">
                    <ul class="unlist inline tag-list tech">
                        {% for tag in include.tags %}
                        <li>
                            <span class="d-inline-block bg-info pt-2 pb-2 pl-3 pr-3 border rounded-pill text-capitalize text-primary btn-sm mr-2 mb-2">
                                {{tag}}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>