---
import type { MDXInstance } from "astro";
import type { IFrontmatter } from "../types/IFrontMatter";
import { format } from "date-fns";

interface Props {
  data: MDXInstance<IFrontmatter>;
}

function getArticleLink(link: string | undefined) {
  return (link || "").replace(/\.md(x)/, "");
}
const { data } = Astro.props;
---

<div class="">
  <h4 class="text-xl mb-2">
    <a
      class="text-orange-500 visited:text-orange-600 hover:text-orange-400"
      href={getArticleLink(data.url)}
    >
      {data.frontmatter?.title}
    </a>
  </h4>
  <div>
    <ul class="list-none flex justify-start text-sm text-slate-500">
      <li>[{data.frontmatter.type}]</li>
      <li class="pl-3">
        <span>Last Updated on:</span>{" "}
        <span>
          {format(new Date(data.frontmatter?.published), "LLL d, yyyy")}
        </span>
      </li>
    </ul>
  </div>
</div>
 ../utils/types/IFrontMatter
