---
import PostHeader from "@/components/PostHeader.astro";
import { IFrontmatter } from "@/utils/types";
import { AppConfig } from "@/utils/AppConfig";

type Props = {
  frontmatter: IFrontmatter;
};

const { frontmatter } = Astro.props;
---

<div>
  <PostHeader content={frontmatter} author={AppConfig.author} />
  <div class="prose max-w-4xl prose-invert mt-8 prose-img:rounded-lg">
    <slot />
  </div>
</div>
