---
import { AppConfig } from "@/utils/AppConfig";
const year = new Date().getFullYear();
---

<div>
  <div class="border-t border-gray-600 pt-5">
    <div class="grid grid-cols-2">
      <div>
        <div class="text-sm text-gray-200">
          <p>
            © Copyright {year} by {AppConfig.title}
          </p>
        </div>
      </div>
      <div>
        <div class="text-right text-sm">
          <span class="text-white font-bold">Commit:</span>
           &nbsp;
          <a
            href={`https://github.com/kousherAlam/kousheralam.github.io/tree/${
              import.meta.env.COMMIT_HASH
            }`}
            class="text-orange-400 hover:underline"
          >
            {((import.meta.env.COMMIT_HASH || "") as string).substring(0, 7)}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
