---
import { format } from "date-fns";
import type { IFrontmatter } from "../types/IFrontMatter";

type Props = {
  content: IFrontmatter;
  author: string;
};
const { content, author } = Astro.props;
---

<div class="text-orange-400">
  <div class="">
    <h1 class="text-left text-4xl font-bold mb-1">
      {content.title}
    </h1>

    <div class="mt-2 text-left text-sm">
      <span class="text-xs">By</span>
      <span class="ml-1">
        <a href="/">{author}</a>
      </span>
      <span class="text-xs ml-4">Published on</span>
      <span class="ml-1">
        {format(new Date(content.published), "LLL d, yyyy")}
      </span>
    </div>
  </div>
</div>
