
.main-content{
    margin-top: 55px;
    min-height: 400px;
    padding: 15px 0px;
    padding-bottom: 0px;
    // min-height: calc(100vh - 130px);
    // height: calc(100vh - 130px);
    // overflow: auto;
    .container{
        background-color: white;
        min-height: calc(100vh - 130px);
        padding: 30px 15px 0px 15px;
    }
}
.main-footer{
   .other-menu{
       a{
           padding: 0px 10px;
       }
   }
}
#top-nav-button{
    position: fixed;
    bottom: 20px;
    right: 50PX;
    background-color: red;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    opacity: .8;
    &:hover{
        opacity: 1;
    }
}
