
.main-content{
    margin-top: 55px;
    min-height: 400px;
    padding: 15px 0px;
    padding-bottom: 0px;
    min-height: calc(100vh - 130px);
    height: calc(100vh - 130px);
    overflow: auto;
    .container{
        background-color: white;
        min-height: calc(100vh - 130px);
        padding: 30px 15px 0px 15px;
    }
}
.main-footer{
   .other-menu{
       a{
           padding: 0px 10px;
       }
   }
}

