.extra-link{
    width: 80px;
    .icon{
        svg{
            width: 50px;
        }
    }
}

.fixed-top{
    .navbar{
        position: relative;
        top: 3px;
    }
    img{
        position: relative;
        top: -5px;
    }
}
.menu-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 8;
    svg{
        width: 20px;
        fill: white;
    }
}
#close_menu_btn{
    position: absolute;
    left: 250px;
    top: 10px;
    z-index: 99999;
    svg{
        width: 20px;
    }
}
#shade,
.mobile-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 100%;
    z-index: 999;
    padding: 15px;
}
.mobile-menu{
    .navbar-nav{
        width: 100%;
    }
    img{
        height: 120px;
    }
}

#shade{
    width: 100%;
    background-color: white;
    opacity: .6;
    z-index: 9;
}