.extra-link{
    width: 80px;
    .icon{
        svg{
            width: 50px;
        }
    }
}

.fixed-top{
    .navbar{
        position: relative;
        top: 3px;
    }
    img{
        position: relative;
        top: -5px;
    }
}

.main-menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
}