$expert-bg : #d4ffd7;
$intermediate-bg : #feffd4;
$basic-bg : #ffd4d4;

.skill-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill{
    margin-bottom: 15px;
    .description{
        font-size: .8em;
        margin: 0px;
        color: #495057;
    }
}

.squre{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 15px;
    border: 1px solid black;
}
.squre.expert {
    background: $expert-bg;
}
.squre.intermediate{
    background: $intermediate-bg;
}
.squre.basic{
    background: $basic-bg;
}

.indentifier{
    .type-bg{
        width: 15px;
        height: 15px;
        display: inline-block;
        border: 1px solid black;
    }
    .type-name{
        font-size: 1.1em;
    }
    .basic{
        .type-bg{
            background-color: $basic-bg; 
        }
    }
    .intermediate{
        .type-bg{
            background-color: $intermediate-bg;
        }
    }
    .expert{
        .type-bg{
            background-color: $expert-bg;
        }
    }
}