$expert-bg: #d4ffd7;
$intermediate-bg: #feffd4;
$basic-bg: #ffd4d4;

.skills-container {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: rgb(63, 76, 107); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(63, 76, 107, 1) 0%, rgba(63, 76, 107, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(63, 76, 107, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(63, 76, 107, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
.skill {
  margin-bottom: 15px;
  .description {
    font-size: 0.8em;
    margin: 0px;
    color: #495057;
  }
  &.card {
    .card-body {
      height: 200px;
      overflow: auto;
    }
  }
}

.skill-name {
  font-size: 1.3em;
}
.skill-type {
  font-size: 0.7em;
}

.botton-sheet,
.shade,
.sheet-content{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.botton-sheet{
    z-index: 999999;
    .shade{
        z-index: 1;
        background-color: black;
        opacity: .8;
    }
    .sheet-content{
        max-height: 400px;
        top: auto;
        bottom: 0px;
        z-index: 2;
        background-color: #3F51B5;
    }
    .main-project-content{
        padding-top: 15px;
        height: 100vh;
        max-height: 350px;
    }
}

.technology{
    span.name {
        padding: 5px 10px;
        border: 1px solid skyblue;
        font-size: .7em;
        margin-right: 5px;
        &.me{
            background-color: #4CAF50;
        }
    }
}
