---
title: Demo Work
layout: demo-layout
wrapper: blog-page
image: "/assets/blog/css-grid/future_technology_prospects.png"
pagination: 
  enabled: true
  collection: demo
---

{% for demo in paginator.posts %}
<div class="single-blog mb-4 mb-md-3 p-3 p-md-0">
    {% 
        include common/card.html 
        url = demo.url
        title = demo.title 
        description = demo.description
        tags = demo.tags
        created = demo.date
        thubmail = demo.thubmail
    %}
</div>
{% endfor %}
<div class="single-blog p-1 p-md-0 w-100">
    {% include common/pagination.html %}
</div>
