<footer class="main-footer pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 other-menu pl-lg-0">
                <a href="http://facebook.com/kousheralam">Facebook</a>
                <a href="http://facebook.com/kousheralam">Twitter</a>
                <a href="http://facebook.com/kousheralam">Linkedin</a>
                <a href="http://facebook.com/kousheralam">Others</a>
            </div>
            <div class="col-12 col-md-4 col-lg-6 text-right pr-lg-0">
                Copyright &copy; <a href="mailto:kousheralampranto@gmail.com">Kousher Alam</a>
            </div>
        </div>

        <a id="top-nav-button" href="#main-content">Top</a>
    </div>
</footer>



