---
layout: default
---

{% include core/header.html %}

<div class="main-content">
  {% if page.wrapper %}
  <div class="page-wrapper {{page.wrapper}}">
    {% include common/top-header.html %}
    <div class="container shadow p-4 pb-2 mb-5 bg-white position-relative" style="top: -30px;">
      {% include common/page-title.html suffix=page.suffix suffixlink=page.suffixlink %}
        {{ content }}
      </div>
    </div>
    {% else %}
    {% include common/top-header.html %}
    <div class="container shadow p-4 pb-2 mb-5 bg-white position-relative" style="top: -30px;">
      {% include common/page-title.html suffix=page.suffix suffixlink=page.suffixlink %}
        {{ content }}
      </div>
    </div>
    {% endif %}
</div>

{% include core/footer.html %}
