<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
</head>
<body>
    <aside class="main-header">
        {% include navigation.html %}
    </aside>
    <main id="main-content">
        {{ content }}
    </main>
    <script src="{{site.baseurl}}/js/app.js"></script>
</body>
</html>