---
layout: base-page
css:
- "https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css"
- "/assets/css/viewer.min.css"
scripts:
- "https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"
- "/assets/js/viewer.min.js"
- "/assets/js/sharer.min.js"
---
<div class="row">
  <div class="col-12 row " style="position: relative; top: -15px;">
    <div class="col-12 col-md-8 categories">
        <ul class="unlist inline tag-list tech">
            <li>
                <span class="d-inline-block small text-dark pl-3 pr-3 rounded-pill text-uppercase btn-sm mr-1 mb-1">Tags</span>
            </li>
            {% for tag in page.tags %}
            <li>
                <span class="d-inline-block small bg-dark text-info pl-3 pr-3 border border-primary rounded-pill text-capitalize text-primary btn-sm mr-1 mb-1">
                    {{tag}}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-md-4 text-left text-md-right">
      {% if page.demo_link %}
        {% for demolink in page.demo_link %}
        <a class="btn btn-sm {{demolink.class}} btn-rounded btn-live-demo" rel="noreferrer noopener" href="{{demolink.link}}" target="blank">{{ demolink.text }}</a>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-12">
      <hr/>
    </div>
  </div>
  <div class="col-12 p-0">
    {{content}}
  </div>
  <div class="col-12 p-3 p-md-0 mt-2">
    {% include common/devider.html %}
    {% include common/share.html %}
    {% include common/image-viewer.html %}
    {% include common/comment.html %}
  </div>
</div>