<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} | Kousher's Blog</title>

    <link rel="icon" href="{{site.baseurl}}images/favicon.ico">

    <meta name="description" content="The Site About Myself" />
    <meta name="tags"
        content="Full Stack Developer, Kawsar, Kousher Alam Prato, Kousher Alam, Pranto, HTML5, CSS3, CSS Architecture, Javascript, Python" />


    <link
        href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="{{site.baseurl}}css/style.css" />

</head>

<body class="text-black">

    {% include parts/navbar.html %}

    <div class="main-content overflow-auto" id="main-content">
        <div class="container">
            <div class="row">
                {{ content }}
            </div>
        </div>
    </div>

    {% include parts/footer.html %}
</body>

</html>