---
layout: base-page
---

{% include common/top-header.html suffix="Skill Details /" %}

<div class="container pt-5 mb-5">
  <div class="row">
    <div class="col-12 p-3 p-md-0">
      <div class="title-section mb-4">
        <h1 class="mb-1">My {{page.title}} Skill Details</h1>
        <div class='percent-holder row'>
          {% assign page.level = page.level | plus: 0 %}
          {% if page.level < 40 %}
          <div class="col-12 col-md-7 percent border rounded border-danger bg-info">
            <div style="width: {{page.level}}%; height: 20px;" class="bg-danger text-center text-white small">{{page.level}} %</div>
          </div>
          {% elsif page.level < 80 %}
          <div class="col-12 col-md-7 percent border rounded border-success bg-info">
            <div style="width: {{page.level}}%; height: 20px;" class="bg-primary text-center text-white small">{{page.level}} %</div>
          </div>
          {% else %}
          <div class="col-12 col-md-7 percent border rounded border-success bg-info">
            <div style="width: {{page.level}}%; height: 20px;" class="bg-success text-center text-white small">{{page.level}} %</div>
          </div>
          {% endif %}
          <div class="col-12 col-md-5"></div>
        </div>
      </div>
      <div class="main-skill-content">
        {{content}}
      </div>
      <div class="mt-5">
        {% include skill/post-link.html title="Related Portfolio" data=page.portfolio %}
        {% include skill/post-link.html title="Related Posts" data=page.posts %}
        {% include skill/post-link.html title="Related Demo" data=page.demo %}
      </div>
    </div>

  </div>
</div>