<div class="education-container">
    <div class="container pt-5 pb-5 educations">
      {% include common/section-title.html  title="Educations" %}
      <div class="all-education">
        {% for education in site.data.home-page.educations %}
        <div class="single-education bg-info shadow-sm mb-3 row">
          <div class="col-12 col-md-2 company-logo pr-2 p-4 align-items-center justify-content-center row {{education.bgClass}}">
            <a class="btn btn-link p-0" href="{{education.link}}" target="_blank" norel norefer>
              <img src="{{education.image}}" style="max-width: {{education.maxWidth}};width: 100%;" alt="Kousher Alam Photo" />
            </a>
          </div>
          <div class="col-12 col-md-10 p-4">
            <h3 class="title pb-0">{{education.title}}</h3>
            <p class="company-details">
              <span class="name"><a class="btn btn-link p-0" target="_blank" href="{{education.link}}" norel norefer>{{education.institute}}</a></span>
              <span class="dash">-</span>
              <span class="timeline">
                <span class="from">{{education.from}}</span>
                <span class="from">{{education.till}}</span>
              </span>
            </p>
            <p class="description">{{education.details}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>