<div class="my-skills">
    <div class="container pt-5 pb-5 my-skills">
      {% include common/section-title.html  title="My Skills" %}
  
      {% for skill in site.data.skills %}
      <div class="skill-category pl-4 pr-4 pt-5 pb-5 shadow-sm mb-3 bg-info">
        <h3 class="skill-name">{{ skill.title }}</h3>
        <div class="skills pt-1">
          {% for topics in skill.skills %}
          <a
            class="skill-link btn-link border border-primary btn-sm rounded btn pl-4 pr-4 btn mr-2 mb-2 rounded-lg"
            href="/my-skill-details/{{topics.link}}">
            <span class="text">{{topics.title}}</span>
          </a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>  
  </div>