/* The integration's default injected base.css file */
@import 'tailwindcss';

@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans:
    Inter Variable, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  a {
    @apply text-orange-500 
            visited:text-orange-600 
            hover:text-orange-400;
  }
  .btn {
    @apply px-6 py-2 border cursor-pointer border-orange-600 text-orange-400 
            hover:border-orange-400;
  }
  .btn.success {
    @apply border-green-600 hover:border-green-400 text-green-400;
  }
  h1 {
    @apply text-4xl;
  }

  h4 {
    @apply text-xl;
  }

  .btn {
    @apply border-2 border-orange-500 hover:border-orange-800 text-sm self-center hover:text-orange-500 text-white font-bold py-2 px-4 rounded-sm;
  }
  .btn-primary {
    @apply bg-orange-500 text-sm self-center hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-sm;
  }
}
