---
import type { IFrontmatter } from "@/types/IFrontMatter";

import { BlogPost } from "@/components/BlogPost";
// import { CTA } from '@/partials/CTA';
import Base from "@/layouts/Base.astro";
import { AppConfig } from "@/utils/AppConfig";
import { Footer } from "@/components/Footer";

export interface Props {
  content: IFrontmatter;
}

const { content } = Astro.props as Props;
const title = `${content.title} - ${AppConfig.site_name}`;
---

<Base head={{ title, description: content.description }}>
  <BlogPost frontmatter={content}>
    <div style="min-height: 50vh;;">
      <slot />
    </div>
  </BlogPost>

  <footer class="mt-12">
    <Footer />
  </footer>
</Base>
