
@import "type"
@import "btn"

body 
    background: #3a3a3a
    position: relative
    max-width: $layout-big
    margin: auto
    color: #fff
    font-family: 'Roboto Slab'

.active
    background: black
    color: white
    pointer-events: none
    cursor: no-drop