$btn-bg: #2196F3
$btn-color: #fff
=base-btn()
    padding: 6px 20px
    border-radius: 4px
    border: 0px solid transparent
    cursor: pointer 
    background: $btn-bg
    color: $btn-color
    outline: 0px
    &:hover,
    &:focus
        opacity: .8

button 
    +base-btn

#{$all-buttons-focus}
    background-color: #F44338
#{$all-buttons-hover}
    background-color: #F44338