input, textarea
    display: block
    box-sizing: border-box
    width: 100%
    padding: 6px 10px
    outline: 0px
    font-size: 1em
    border: 2px solid #b9b9b9    
    &[type=submit],
    &[type=reset]
        border-width: 0px
        background: #003f5d
        cursor: pointer
        color: #fff
        padding: 10px 20px
        &:focus
            border-width: 0px
    &:focus
        border: 2px dashed #2196f3
        background: #fff8f8
        color: #000
        box-sizing: border-box
    &:hover


textarea
    min-height: 80px